/* style1.css */

body {
    font-family: 'Source Sans Pro', sans-serif;
}
#outer-wrap {
    padding: 1px;
    border: 1px solid red;
    width: 100%;
    height: auto;
}
#header-wrap {
    border: 1px solid blue;
    width: 100%;
    height: auto;
}
#body-wrap {
    border: 1px solid green;
    width: 100%;
    height: auto;
}
#footer-wrap {
    border: 1px solid black;
    width: 100%;
    height: auto;
}